<div class="stream-container">
  <div class="stream-img">
    <img [src]="stream.background"/>
  </div>
  <div class="stream-body">
    <div class="stream-title">
      {{ stream.name }}
    </div>
    <div class="stream-desc">
        {{ stream.description }}
    </div>
  </div>
  <div class="stream-info">
    <span class="stream-info-row">
      {{ stream.date | date:'medium' }}
    </span>
    <span class="stream-info-row">
      {{ stream.tecs }}
    </span>
  </div>
  <div class="stream-footer" *ngIf="accountService.isLoggedIn">
    <button class="btn-warning">Supprimer</button>
  </div>
</div>
