<div class="stream-req-container">
  <div>
    <div class="stream-title">
      {{streamRequest.name}}
    </div>
    <div>{{streamRequest.description}}</div>
  </div>
  <div>
    <div *ngIf="adminMode">
      <ng-container *ngIf="streamRequest.validatedAt; else notValidated">
        Validé le : {{ streamRequest.validatedAt | date:'medium' }}
      </ng-container>
      <ng-template #notValidated>
        <button class="btn btn-primary" (click)="validate()">Valider</button>
      </ng-template>
    </div>
  </div>
</div>
