<div *ngIf="streamRequest" class="stream-req-container">
  <div *ngIf="!adminMode">
    <app-vote-system [streamRequestId]="streamRequest.id"></app-vote-system>
  </div>
  <div>
    <div class="stream-title">
      {{streamRequest.name}}
    </div>
    <div>{{streamRequest.description}}</div>
  </div>
  <div>
    <ng-container *ngIf="adminMode">
      <div>
        <ng-container *ngIf="streamRequest.validatedAt; else notValidated">
          Validé le : {{ streamRequest.validatedAt | date:'medium' }}
        </ng-container>
        <ng-template #notValidated>
          <button class="btn btn-primary" (click)="validate()">Valider</button>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
