<h1>CapTwitch</h1>
<app-login-form></app-login-form>
<div class="content-container">
  <app-streams-displayer></app-streams-displayer>

  <div class="base-block stream-form">
    <app-stream-event-form></app-stream-event-form>
  </div>

  <div class="base-block stream-requests">
    <app-stream-requests-displayer></app-stream-requests-displayer>
  </div>

  <div class="base-block stream-form">
    <app-stream-request-form></app-stream-request-form>
  </div>

  <div class="base-block stream-form">
    <app-login-form [isLoginForm]="false"></app-login-form>
  </div>
</div>
