Bonjour le stream

<app-streams-displayer [reloadRequest]="streamAdded"></app-streams-displayer>

<p>nom du prochain stream : {{ newStream.name }}</p>

<div>
  <label>
    Nom
  </label>
  <input required type="text" [(ngModel)]="newStream.name" />
</div>

<div>
  <label>
    Description
  </label>
  <textarea required type="text" [(ngModel)]="newStream.description"></textarea>
</div>

<div>
  <label>
    Date
  </label>
  <input required type="datetime-local" [(ngModel)]="newStream.date" />
</div>

<div>
  <label>
    Url image
  </label>
  <input required type="text" [(ngModel)]="newStream.background" />
</div>


<div>
  <label>
    Technologies
  </label>
  <input required type="text" [(ngModel)]="newStream.tecs" />
</div>

<button (click)="save()">Enregister</button>
