<div class="nav-bar">
  <div class="title">
    <a [routerLink]="'/main'">
      CapTwitch
    </a>
  </div>
  <div class="nav-links">
    <a class="nav-link" [href]="twitchLink" target="_blank">Twitch</a>
    <a class="nav-link" [href]="ytLink" target="_blank">Youtube</a>
    <a *ngIf="userGuard.isUserConnected()" class="nav-link" [routerLink]="'/management'">Gestion</a>
  </div>
  <div class="action-btns">
    <button class="btn-primary-outline" (click)="sign(accountService.isLoggedIn)">
      {{ accountService.isLoggedIn ? 'Déconnexion' : 'Connexion'}}
    </button>
  </div>
</div>


<dialog #loginDialog>
  <app-login-form (connected)="closeModal()"></app-login-form>
  <app-login-form [isLoginForm]="false"></app-login-form>
  <div class="dialog-footer">
    <button class="btn-primary-outline modal-close-btn" (click)="closeModal()">
      Fermer
    </button>
  </div>
</dialog>
