<ng-container *ngIf="!service.isLoggedIn">
  <div class="login-container">
    <h2>{{ isLoginForm ? 'Connexion' : 'Inscription' }}</h2>
    <div class="custom-form">

      <div class="form-line">
        <label>Pseudo</label>
        <input type="text" [(ngModel)]="loginModel.pseudo" />
      </div>
      <div class="form-line">
        <label>Mot de passe</label>
        <input type="password" [(ngModel)]="loginModel.password" />
      </div>
      <button class="btn-primary" (click)="buttonAction()">{{ isLoginForm ? 'Se connecter' : 'S\'inscrire' }}</button>
    </div>
  </div>
</ng-container>
