<ng-container *ngIf="!service.isLoggedIn; else logoutBlock">
  <h2>{{ isLoginForm ? 'Connexion' : 'Inscription' }}</h2>
  <label>Pseudo</label>
  <input type="text" [(ngModel)]="loginModel.pseudo" />

  <label>Mot de passe</label>
  <input type="password" [(ngModel)]="loginModel.password" />
  <button (click)="buttonAction()">{{ isLoginForm ? 'Se connecter' : 'S\'inscrire' }}</button>
</ng-container>
<ng-template #logoutBlock>
  <button *ngIf="isLoginForm" (click)="logout()">Déconnexion</button>
</ng-template>
